.counterWrapper {
    padding: 10px;
    border: 2px solid #61dafb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.counterButtonGroup {
    border: 2px solid #61dafb;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.counterInput {
    border: none;
    background-color: #61dafb;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.counterInputEnd {
    color: red;
}

.counterButton {
    font-size: 25px;
    border-radius: 5px;
    background-color: #61dafb;
    height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
}